# IDEs and editors
**/.idea/
**/.run/
/ASLET-console/.idea/
/ASLET/.idea/
/ASLET.Server/.idea/
Folder.DotSettings

#VScode
/.vscode/

#Temp files
/ASLET-console/bin/
/ASLET-console/obj/
/ASLET/bin/
/ASLET/obj/
/ASLET.Server/bin/
/ASLET.Server/obj/

#Output files
/ASLET-console/timetable.txt